body{
  background-color: #B5D99C;
}

.div-titulo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
}

.titulo{
  font-family: "Honk", system-ui;
  font-size: 5rem;
}

.subtitulo{
  font-family: "Jost", sans-serif;
  font-size: 1.8rem;
}

.boton {
  background-color: #FFF035;
  color: black; 
  font-size: 1rem;
  border: none;
  border-radius: 18px;
  padding: 15px 25px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.boton:hover {
  background-color: #DB5CEF;
}

.div-preguntas{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:flex-start;
  height: 100vh; 
}

.pregunta{
  font-family: "Jost", sans-serif;
  font-size: 2rem;
}

.opcion{
  background-color: white;
  color: black; 
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 15px 25px; 
  cursor: pointer; 
  margin: 0 10px;
}

.selected{
  background-color: #DB5CEF;
}

.opcion:hover{
  background-color: #E5E5E5;
}

.opcion-magui{
  background-color: white;
  color: black; 
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 15px 25px; 
  cursor: pointer; 
  margin: 0 10px;
}

@keyframes moveAndDisable {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80px); 
    pointer-events: none;
  }
}

.opcion-magui:hover {
  animation: moveAndDisable 1.5s forwards;
  animation-fill-mode: forwards;
}
